<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hld_flutter">

    <!-- Quyền internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="hld_flutter"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>